
.backgroundImage {
    margin-top: 100px;
    padding: 163px 0;

    &__text {
        @include font(700, 96, 115);
        text-align: center;
        letter-spacing: 63px;
        text-transform: uppercase;
        opacity: .8;
        text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
        color: $c-white;
    }
}