
.service {
    margin-top: 80px;
    background: $bg-linear-alt, url("../../public/background/shade.png") repeat-x top / contain;
    border-radius: 0px 0px 12px 12px;

    &__link {
        color: #fff;
    }
    &__title {
        margin-top: 3px;
    }
    .list-service {
        padding: 68px 0 56px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        
        &_figure {
            width: 92px;
            height: 92px;
            padding: 14px;
            background-color: $c-white;
            border-radius: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_title {
            margin-top: 20px;
            @include font(500, 24, 29);
            color: $c-active-blue;
        }
        &_text {
            margin-top: 15px;
            @include font(400, 18, 26);
            color: $c-white;
        }
    }
}