.cases {
    margin-top: 41px;

    &__list {
        display: grid;
        // grid-template-columns: 320px 111px 342px 112px 435px;
        grid-template-columns: calc(320 / 1320 * 100%) calc(111 / 1320 * 100%) calc(342 / 1320 * 100%) calc(112 / 1320 * 100%) calc(435 / 1320 * 100%);
        grid-template-rows: 55px 196px 196px;
        gap: 2px;
        border-radius: 12px;
        overflow: hidden;
    }

    &__item {
        background-color: $c-gray-bg;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        padding-left: 20px;

        &:first-child {
            grid-column: 1 / 3;
            grid-row: 1;
            color: $c-accent-red;
            @include font(700, 14, 17);
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &:nth-child(2) {
            grid-column: 3 / 5;
            grid-row: 1 / 3;
        }
        &:nth-child(3) {
            grid-column: 5;
            grid-row: 1 / 3;
        }
        &:nth-child(4) {
            grid-column: 1 / 3;
            grid-row: 2;
        }
        &:nth-child(5) {
            grid-column: 1;
            grid-row: 3;
        }
        &:nth-child(6) {
            grid-column: 2 / 4;
            grid-row: 3;
        }
        &:nth-child(7) {
            grid-column: 4 / 6;
            grid-row: 3;
        }
        
        &-title {
            color: $c-soft-main;
            @include font(500, 24, 29);
        }
        &-company {
            color: $c-gray;
            @include font(400, 18, 26);
            margin-top: 20px;
        }

    }
}