
.introductionAlt {
    margin: 80px 0 93px;

    &__container {
        display: flex;
        justify-content: flex-start;
    }
    &__title {
        order: 1;
        margin-left: 40px;
        flex: 0 0 414px;
    }
    &__text {
        @include font(400, 21, 30);
    }
}