.header {
  background: linear-gradient(#323264, #323264, #7A425E);
  color: #FFFFFF;
  height: 800px;
}
.header__container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header__caption {
  font-family: "TTNormsMedium";
  font-size: 18px;
  line-height: 116.6666666667%;
}
.header .top-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .top-header > *:not(:first-child) {
  margin-left: 20px;
}
.header .top-header_language {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .top-header_language > *:not(:first-child) {
  margin-left: 10px;
}
.header .top-header_input {
  display: none;
}
.header .top-header_text {
  font-family: "TTNormsBold";
  font-size: 12px;
  line-height: 116.6666666667%;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header .top-header_text.active {
  padding: 5px;
  background-color: #F0145A;
  border-radius: 8px;
}
.header .top-header_adress {
  color: inherit;
  font-family: "TTNormsRegular";
  font-size: 16px;
  line-height: 118.75%;
  text-align: right;
}
.header .top-header_link {
  color: inherit;
  font-family: "TTNormsBold";
  font-size: 16px;
  line-height: 118.75%;
  text-align: right;
}
.header .bottom-header_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}
.header .bottom-header_list > *:not(:first-child) {
  margin-left: 16px;
}
.header .bottom-header_link {
  font-family: "TTNormsBold";
  font-size: 18px;
  line-height: 116.6666666667%;
  text-align: right;
}