.publications {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: $c-gray-bg;

    &__container {
        &>*:nth-child(2) {
            margin-top: 3px;
        }

        &>*:nth-child(3) {
            margin-top: 40px;
        }
    }

    &__upper {
        color: $c-active-blue;
        opacity: 1;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(335px, 413px));
        grid-template-rows: 265px 155px 42px 233px;
        gap: 0 40px;
        height: 720px;
        position: relative;

        &::after {
            content: "";
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: $bg-linear-publications;
        }
    }

    &__item {
        background-color: $c-white;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;

        &:nth-child(1n + 4) {
            margin-top: 40px;
        }

        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1 / span 2;
        }

        &:nth-child(3) {
            grid-column: 3;
            grid-row: 1 / span 3;
        }

        &:nth-child(4) {
            grid-column: 1;
            grid-row: 2 / span 3;
        }

        &:nth-child(5) {
            grid-column: 2;
            grid-row: 3 / span 2;
        }

        &:nth-child(6) {
            grid-column: 3;
            grid-row: 4;
        }
    }

    .publications__content {
        padding: 20px;

        &>*:nth-child(2) {
            margin-top: 10px;
        }

        &>*:not(:first-child):not(:nth-child(2)) {
            margin-top: 20px;
        }

        &-title {
            color: $c-active-blue;
            @include font(500, 18, 21);
        }

        &-date {
            color: $c-gray;
            @include font(700, 12, 14);
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &-separator {
            width: 100%;
            height: 4px;
            background-color: $c-gray-separator;
        }

        &-article {
            color: $c-black;
            @include font(400, 16, 22);
        }
    }

    &__button {
        bottom: 40px;
    }
}