
.clients {
    margin-top: 30px;

    &__title {
        color: $c-main;
        text-align: center;
        @include font(700, 14, 16.52);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    &__list {
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    &__item {
        flex: 1 1 calc(100 / 3) + vw;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}