.team {
    margin-top: 60px;

    .list-team {
        &_item {
            flex: 0 0 1320px;
            display: flex;
            justify-content: stretch;
            align-items: stretch;
        }
        &_container {
            width: 100%;
            padding: 40px 40px 0 40px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: $c-gray-bg;
            border-radius: 12px;
        }
        &_link {
            color: $c-active-blue;
            opacity: 1;
        }
        &_title {
            margin-top: 3px;
        }
        &_name {
            margin-top: 20px;
            @include font(500, 18, 22);
            color: $c-gray;
        }
        &_job {
            margin-top: 5px;
            @include font(400, 16, 22);
            color: $c-gray;
        }
    }
}