@import "../../scss/globals";

.header {
    background: $bg-linear;
    color: $c-white;
    height: 800px;

    &__container {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__caption {
        @include font(500, 18, 21);
    }
    .top-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & > *:not(:first-child) {
            margin-left: 20px;
        }
        &_language {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & > *:not(:first-child) {
                margin-left: 10px;
            }
        }
        &_input {
            display: none;
        }
        &_text {
            @include font(700, 12, 14);
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;

            &.active {
                padding: 5px;
                background-color: $c-accentRed;
                border-radius: 8px;
            }
        }
        &_adress {
            color: inherit;
            @include font(400, 16, 19);
            text-align: right;
        }
        &_link {
            color: inherit;
            @include font(700, 16, 19);
            text-align: right;
        }
    }
    .bottom-header {

        &_list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 16px;

            & > *:not(:first-child) {
                margin-left: 16px;
            }
        }
        &_link {
            @include font(700, 18, 21);
            text-align: right;
        }
    }
}