.publicationsEntry {
    margin-top: 58px;
    padding-top: 40px;
    background-color: $c-gray-bg;

    &__switcher {
        display: flex;
        justify-content: center;
        align-items: center;

        &_wrapper {
            background-color: $c-gray-separator;
            padding: 2px;

            &>* {
                padding: 7px 0;
                border-radius: 10px;
                background-color: $c-gray-separator;
                @include font(500, 18, 21);
                text-align: center;
                color: $c-main;
                width: 127px;

                &:hover {
                    background-color: $c-gray-bg;
                }
            }

            &>*:first-child {
                background-color: $c-white;
            }
        }
    }

    &__list {
        padding-top: 40px;

    padding-bottom: 150px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(335px, 413px));
        grid-template-rows: 265px 155px 42px 233px;
        gap: 0 40px;
        position: relative;
    }

    &__item {
        background-color: $c-white;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;

        &:nth-child(1n + 4) {
            margin-top: 40px;
        }

        &:nth-child(2) {
            grid-column: 2;
            grid-row: 1 / span 2;
        }

        &:nth-child(3) {
            grid-column: 3;
            grid-row: 1 / span 3;
        }

        &:nth-child(4) {
            grid-column: 1;
            grid-row: 2 / span 3;
        }

        &:nth-child(5) {
            grid-column: 2;
            grid-row: 3 / span 2;
        }

        &:nth-child(6) {
            grid-column: 3;
            grid-row: 4;
        }
    }
    &__content {
        padding: 20px;

        &>*:nth-child(2) {
            margin-top: 10px;
        }

        &>*:not(:first-child):not(:nth-child(2)) {
            margin-top: 20px;
        }

        &-title {
            color: $c-active-blue;
            @include font(500, 18, 21);
        }

        &-date {
            color: $c-gray;
            @include font(700, 12, 14);
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        &-separator {
            width: 100%;
            height: 4px;
            background-color: $c-gray-separator;
        }

        &-article {
            color: $c-black;
            @include font(400, 16, 22);
        }
    }
    &__button {
        bottom: 60px;
    }
}