.carousel {
    overflow: hidden;

    &__list {
        display: flex;
        transition: all .7s ease;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        &>*:not(:first-child) {
            margin-left: 14px;
        }
    }

    &__button {
        width: 14px;
        height: 14px;
        position: relative;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            &::after {
                opacity: .6;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: $c-active-blue;
            opacity: .2;
            width: 100%;
            height: 100%;
            border-radius: 100%;

        }

        &.active {

            &::after {
                opacity: 1;
            }
        }
    }
}