
.teamList {
    margin-top: 30px;
    margin-bottom: 60px;

    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        &:nth-child(n + 4) {
            margin-top: 40px;
        }

        & > * {
            margin-top: 20px;
        }
    }

    &__link {
        display: flex;
        flex-flow: column wrap;
        position: relative;

        & > *:first-child {
            @include font(500, 18, 21);
            color: $c-main;
        }

        & > *:nth-child(2) {
            margin-top: 4px;
            @include font(400, 16, 22);
            color: $c-gray;
        }

        &::before, &::after {
            content: "";
            width: 32px;
            height: 32px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }

        &::before {
            border-radius: 100%;
            background-color: $c-gray-bg;
        }

        &::after {
            content: ">";
            display: flex;
            justify-content: center;
            align-items: center;
            color: $c-active-blue;
        }
    }
}