@charset "UTF-8";
@font-face {
  font-family: "TTNormsRegular"; /* Гарнитура шрифта */
  src: url("../font/TTNorms-Regular.eot"); /* Для IE5-8 */
  src: url("../font/TTNorms-Regular.ttf") format("truetype"); /* Для остальных браузеров */
}
@font-face {
  font-family: "TTNormsMedium"; /* Гарнитура шрифта */
  src: url("../font/TTNorms-Medium.eot"); /* Для IE5-8 */
  src: url("../font/TTNorms-Medium.ttf") format("truetype"); /* Для остальных браузеров */
}
@font-face {
  font-family: "TTNormsBold"; /* Гарнитура шрифта */
  src: url("../font/TTNorms-Bold.eot"); /* Для IE5-8 */
  src: url("../font/TTNorms-Bold.ttf") format("truetype"); /* Для остальных браузеров */
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-family: "TTNormsRegular", sans-serif;
}

#root {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

._container {
  max-width: 1320px;
  margin: 0 auto;
}