@font-face {
    font-family: "TTNormsRegular"; /* Гарнитура шрифта */
    src: url("../font/TTNorms-Regular.eot"); /* Для IE5-8 */
    src: url("../font/TTNorms-Regular.ttf") format('truetype'); /* Для остальных браузеров */
}
@font-face {
    font-family: "TTNormsMedium"; /* Гарнитура шрифта */
    src: url("../font/TTNorms-Medium.eot"); /* Для IE5-8 */
    src: url("../font/TTNorms-Medium.ttf") format('truetype'); /* Для остальных браузеров */
}
@font-face {
    font-family: "TTNormsBold"; /* Гарнитура шрифта */
    src: url("../font/TTNorms-Bold.eot"); /* Для IE5-8 */
    src: url("../font/TTNorms-Bold.ttf") format('truetype'); /* Для остальных браузеров */
}