
$c-white: #FFFFFF;
$c-accent-red: #F0145A;
$c-gray-alt: #EDEDF7;
$c-gray: #B3B3BA;
$c-active-blue: #24A3FF;
$c-main: #323264;
$bg-linear: linear-gradient(#323264, #323264, #7A425E);

$a-tablet: 1024px;
$a-tablet-small: 768px;
$a-mobile: 375px;

$f-regular: "TTNormsRegular";
$f-medium: "TTNormsMedium";
$f-bold: "TTNormsBold"; 

@mixin font($fw, $fsz, $lh) {
    @if $fw == 400 {
        font-family: $f-regular;
    }
    @else if $fw == 500 {
        font-family: $f-medium;
    }
    @else if $fw == 700 {
        font-family: $f-bold;
    }
    font-size: $fsz + px;
    line-height: calc($lh / $fsz * 100%);
    
}